<div {{#if id}}id="{{id}}"{{/if}} class="sqlpage-loader-start">
  <div class="sqlpage-loader-container">
    <span class="{{default spinner "spinner-border"}}
      {{#if size}}spinner-border-{{size}}{{/if}}
      {{#if color}}text-{{color}}{{/if}}">
    </span>
