<a class="bigbutton" href="{{link}}">{{text}}</a>

<style>
    .bigbutton {
        /* A huge funky round button with a ton of visual effects */
        display: block;
        margin: auto;
        width: 20rem;
        height: 20rem;
        line-height: 18rem;
        font-size: 3rem;
        text-align: center;
        padding: 0.5em 1em;
        border: 2px solid #000;
        border-radius: 100%;
        box-shadow: 0 0.5em 0.5em -0.4em #eb7f26;
        text-decoration: none;
        font-weight: bold;
        transition: all 0.05s;
        background: linear-gradient(to bottom, #ddd44f, #da6a36);
        text-shadow: 2px 2px 3px rgba(87, 34, 34, 0.5);
        color: black;
    }

    .bigbutton:hover {
        background: linear-gradient(to bottom, #dad161, #e65e20);
        transform: scale(1.1);
        box-shadow: 0 0.8em 0.7em -0.5em #eb7f26;
        text-decoration: none;
    }
</style>
