<div class="alert alert-danger" role="alert">
    <p>
        <span class="status status-red">
            <span class="status-dot status-dot-animated"></span> Error
        </span>
        We are sorry, but an error occurred while generating this page.
        You should contact the site's administrator.
    </p>
    {{#each_row}}
        <pre><code>{{description}}</code></pre>
        {{#if backtrace}}
            <details class="fs-5">
                <summary>Backtrace</summary>
                <pre class="fs-5 mt-1 p-1">
                    {{~#each backtrace~}}
                        <code>{{this}}</code>
                    {{~/each~}}
                </pre>
            </details>
        {{/if}}
    {{/each_row}}
</div>