<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sqlsite</title>
    <link
      href="https://unpkg.com/@tabler/core@1.0.0-beta10/dist/css/tabler.min.css"
      rel="stylesheet"
      integrity="sha384-jmBhmiTtTd+EXqowu+opmlXtLjL6dJL2wvAi88X3lKbN4FnIAncrMD1S7EfNxvlo"
      crossorigin="anonymous"
    />
  </head>
  <body>
    {{#each items}}
      <!-- Query executed -->
    {{/each}}

    <script
      src="https://unpkg.com/@tabler/core@1.0.0-beta10/dist/js/tabler.min.js"
      integrity="sha384-JgcuyRdRj/DsTn/xu/nrUgqn7jKtTtSAYh6lj3VDT4e9eu1z3VovRn5RPpaX9XX8"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
