/* !include https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta20/dist/css/tabler.min.css */
/* !include https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta20/dist/css/tabler-vendors.min.css */

[data-bs-theme="dark"] .alert:not(.alert-important) {
  /* See https://github.com/tabler/tabler/issues/1607 */
  background-color: var(--tblr-bg-surface);
  color: inherit;
}

td > p {
  margin: 0;
}

/** Removes the margin-bottom from the last element */
.remove-bottom-margin > :last-child {
  margin-bottom: 0 !important;
}

/* https://github.com/tabler/tabler/issues/1648 */
* {
  scrollbar-color: var(--tblr-primary) var(--tblr-bg-surface-dark) !important;
}
::-webkit-scrollbar {
  width: 4px !important;
}
::-webkit-scrollbar-thumb {
  background: var(--tblr-primary) !important;
}

.text-secondary a {
  color: inherit;
  text-decoration: underline;
}

/* orchidjs/tom-select#712 */
.ts-wrapper.multi .ts-control > div.active {
  border: 1px solid transparent !important;
}

:root {
  /* Workaround for https://github.com/tabler/tabler/issues/1879 */
  --tblr-text-secondary-rgb: var(--tblr-secondary-rgb);
}

.page {
  /* Leave space for the footer */
  min-height: calc(100% - 3rem);
}

.datagrid {
  --tblr-datagrid-padding: 1.25rem;
  --tblr-datagrid-item-width: 12rem;
}

/* spinner container */
div.sqlpage-spinner-start {
  position: fixed;
  text-align: center;
  left: 50vw;
  top: 50vh;
  margin-top: -5.5em;
  margin-left: -87.5px;
  padding-bottom: 2em;
  height: 9em;
  width: 175px;
}
div.sqlpage-spinner-start:not(:has(+ .sqlpage-spinner-stop)) {
  /* only display if not followed by sqlpage-spinner-stop */
  display: block;
}
.sqlpage-spinner-start:not(:last-child) {
  /* firefox doesn't support :has
     so hide the spinner if is no longer the last element */
  display: none;
}

/* progress indicator container */
div.sqlpage-spinner-progress {
  margin: 1em 0 1em;
}
div.sqlpage-spinner-progress:not(:has(+ .sqlpage-spinner-progress)) {
  /* only display if not followed by progress update */
  display: block;
}
.sqlpage-spinner-progress:not(:last-child) {
  /* firefox doesn't support :has
     so hide the spinner if is no longer the last element */
  display: none;
}
.sqlpage-spinner-progress label {
  text-align:left;
}
.sqlpage-spinner-progress label:after {
  content: "...";
}
