/* !include https://cdn.jsdelivr.net/npm/@tabler/core@1.2.0/dist/css/tabler.min.css */
/* !include https://cdn.jsdelivr.net/npm/@tabler/core@1.2.0/dist/css/tabler-vendors.min.css */

:root {
  /* Workaround for https://github.com/tabler/tabler/issues/1879 */
  --tblr-text-secondary-rgb: var(--tblr-secondary-rgb);
  --tblr-code-color: #073345;
  --tblr-code-bg: #e4f1ff;
}

.navbar {
  /* https://github.com/sqlpage/SQLPage/issues/822 */
  --tblr-navbar-color: rgba(var(--tblr-body-color-rgb), 0.8);
}

[data-bs-theme="dark"] .alert:not(.alert-important) {
  /* See https://github.com/tabler/tabler/issues/1607 */
  background-color: var(--tblr-bg-surface);
  color: inherit;
}

td > p {
  margin: 0;
}

/** Removes the margin-bottom from the last element */
.remove-bottom-margin > :last-child {
  margin-bottom: 0 !important;
}

/* https://github.com/tabler/tabler/issues/1648 */
* {
  scrollbar-color: var(--tblr-primary) var(--tblr-bg-surface-dark) !important;
}
::-webkit-scrollbar {
  width: 4px !important;
}
::-webkit-scrollbar-thumb {
  background: var(--tblr-primary) !important;
}

.text-secondary a {
  color: inherit;
  text-decoration: underline;
}

/* orchidjs/tom-select#712 */
.ts-wrapper.multi .ts-control > div.active {
  border: 1px solid transparent !important;
}

.page {
  /* Leave space for the footer */
  min-height: calc(100% - 3rem);
}

.datagrid {
  --tblr-datagrid-padding: 1.25rem;
  --tblr-datagrid-item-width: 6rem;
}

code {
  font-size: 100%;
}

.apexcharts-text,
.apexcharts-datalabel {
  fill: var(--tblr-body-color) !important;
  font-weight: var(--tblr-body-font-weight);
}

/** table **/
.table-freeze-headers thead {
  position: sticky;
  top: 0;
  z-index: 2;
}

.table-freeze-footers tfoot {
  position: sticky;
  bottom: 0;
  z-index: 2;
}

.table-freeze-headers {
  max-height: 50vh;
}

.table-freeze-footers {
  max-height: 50vh;
}

.table-freeze-columns th:first-child {
  position: sticky;
  left: 0;
  z-index: 2;
}

.table-freeze-columns td:first-child {
  position: sticky;
  left: 0;
  background: var(--tblr-bg-surface-secondary);
  box-shadow: 3px 0 3px var(--tblr-border-color);
}

/* Prevent the fixed headers from hiding the selected target row */
.table-freeze-headers tr[id] {
  scroll-margin-top: 2.1rem;
}

.article-text {
  font-size: 1.2em;
  line-height: 1.5em;
  font-family: "Times New Roman", serif;
  max-width: 65ch;
  margin: 1.5em auto;
}

.article-text p::first-letter {
  font-size: 1.2em;
  font-weight: 500;
}

li p {
  margin: 0;
}

.leaflet-container {
  background: var(--tblr-active-bg) !important;
}
