/* !include https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta20/dist/css/tabler.min.css */
/* !include https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta20/dist/css/tabler-vendors.min.css */

[data-bs-theme="dark"] .alert:not(.alert-important) {
  /* See https://github.com/tabler/tabler/issues/1607 */
  background-color: var(--tblr-bg-surface);
  color: inherit;
}

td > p {
  margin: 0;
}

/* https://github.com/tabler/tabler/issues/1648 */
* {
  scrollbar-color: var(--tblr-primary) var(--tblr-bg-surface-dark) !important;
}
::-webkit-scrollbar {
  width: 4px !important;
}
::-webkit-scrollbar-thumb {
  background: var(--tblr-primary) !important;
}

.text-secondary a {
  color: inherit;
  text-decoration: underline;
}