/* !include https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta20/dist/css/tabler.min.css */
/* !include https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta20/dist/css/tabler-vendors.min.css */

:root {
  /* Workaround for https://github.com/tabler/tabler/issues/1879 */
  --tblr-text-secondary-rgb: var(--tblr-secondary-rgb);
  --tblr-code-color: #073345;
  --tblr-code-bg: #e4f1ff;
}

[data-bs-theme="dark"] .alert:not(.alert-important) {
  /* See https://github.com/tabler/tabler/issues/1607 */
  background-color: var(--tblr-bg-surface);
  color: inherit;
}

td > p {
  margin: 0;
}

/** Removes the margin-bottom from the last element */
.remove-bottom-margin > :last-child {
  margin-bottom: 0 !important;
}

/* https://github.com/tabler/tabler/issues/1648 */
* {
  scrollbar-color: var(--tblr-primary) var(--tblr-bg-surface-dark) !important;
}
::-webkit-scrollbar {
  width: 4px !important;
}
::-webkit-scrollbar-thumb {
  background: var(--tblr-primary) !important;
}

.text-secondary a {
  color: inherit;
  text-decoration: underline;
}

/* orchidjs/tom-select#712 */
.ts-wrapper.multi .ts-control > div.active {
  border: 1px solid transparent !important;
}

.page {
  /* Leave space for the footer */
  min-height: calc(100% - 3rem);
}

.datagrid {
  --tblr-datagrid-padding: 1.25rem;
  --tblr-datagrid-item-width: 6rem;
}

code {
  font-size: 100%;
}