on:
  workflow_dispatch: {}
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - "v*" # Push events to matching v*, i.e. v1.0, v20.15.10

name: Create Release

permissions:
  contents: write

jobs:
  build:
    name: Build sqlpage binaries
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
        include:
          - os: windows-latest
            binary_path: target/superoptimized/sqlpage.exe
            target: x86_64-pc-windows-gnu
          - os: macos-latest
            binary_path: target/superoptimized/sqlpage
            target: x86_64-apple-darwin
          - os: ubuntu-latest
            binary_path: target/superoptimized/sqlpage
            target: x86_64-unknown-linux-musl
    steps:
      - uses: actions/checkout@v4
      - name: Install Rust toolchain
        run: |
          rustup toolchain install --target ${{ matrix.target }} --profile minimal stable
      - name: Set up cargo cache
        uses: Swatinem/rust-cache@9d47c6ad4b02e050fd481d890b2ea34778fd09d6
      - name: Build
        run: cargo build --profile superoptimized --locked --target ${{ matrix.target }}
      - uses: actions/upload-artifact@v4
        with:
          name: sqlpage ${{ matrix.os }}
          path: ${{ matrix.binary_path }}
  build-aws:
    name: Build AWS Lambda Serverless zip image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: docker build -t sqlpage-lambda-builder . -f lambda.Dockerfile --target builder
      - run: docker run sqlpage-lambda-builder cat deploy.zip > sqlpage-aws-lambda.zip
      - uses: actions/upload-artifact@v4
        with:
          name: sqlpage aws lambda serverless image
          path: sqlpage-aws-lambda.zip
  create_release:
    name: Create Github Release
    needs: [build, build-aws]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
      - run: |
          rm -rf sqlpage/templates/*.handlebars;
          chmod +x sqlpage*/sqlpage;
          mv 'sqlpage macos-latest/sqlpage' sqlpage.bin;
          tar --create --file sqlpage-macos.tgz --gzip sqlpage.bin sqlpage/sqlpage.json sqlpage/migrations sqlpage/templates sqlpage/sqlpage.json;
          mv 'sqlpage ubuntu-latest/sqlpage' sqlpage.bin;
          tar --create --file sqlpage-linux.tgz --gzip sqlpage.bin sqlpage/migrations sqlpage/templates sqlpage/sqlpage.json;
          mv 'sqlpage windows-latest/sqlpage.exe' .
          zip -r sqlpage-windows.zip sqlpage.exe sqlpage/migrations sqlpage/templates sqlpage/sqlpage.json;
      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@v2
        with:
          name: ${{ github.ref_name }}
          tag_name: ${{ github.ref_name }}
          draft: false
          prerelease: ${{ contains(github.ref_name, 'beta') }}
          files: |
            sqlpage-windows.zip
            sqlpage-linux.tgz
            sqlpage-macos.tgz
            sqlpage aws lambda serverless image/sqlpage-aws-lambda.zip
  cargo_publish:
    name: Publish to crates.io
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up cargo cache
        uses: Swatinem/rust-cache@9d47c6ad4b02e050fd481d890b2ea34778fd09d6
      - name: Publish to crates.io
        run: cargo publish --token ${{ secrets.CRATES_IO_TOKEN }}
